body {
	background-color: #cecece;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.div_header {
	background-color: #2d2d2d;
	width: 100%;
	min-height: 50px;
	display: block;
}

#container {
	display: none;
}

.div_header_profilepic {
	height: 50px;
	display: inline-block;
}

.div_header_name {
	display: inline-block;
}

.div_header_signout {
	height: 40px;
	width: 85px;
	float: right;
	margin-top: 2px;
}

#button_header_signout {
	height: 45px;
	vertical-align: middle;
	width: 80px;
	display: inline-block;
	background-color: #aa2a2a;
	border: none;
}