@import url('https://fonts.googleapis.com/css?family=Noto+Serif');

body {
	margin: 0;
	padding: 0;
	background-color: #d8d8d8;
}

.header {
	width: 100%;
	height: 75px;
	background-color: #373737;
	display: inline-flex;
	position: fixed;
}

#g-signinbutton {
	margin-top: 20px;
	float: right;
	display: block;
}

#g-signout {
	background-color: #cc4343;
	border: 0;
	height: 36px;
	width: 120px;
	margin-top: 20px;
	display: none;
}

#header_img {
	height: 60px;
	margin-top: -25px;
	margin-left: 7.5px;
	display: inline-block;
}

#header_name {
	font-size: 48px;
	font-weight: bold;
	margin-left: 10px;
	color: #b7b7af;
	font-family: 'Noto Serif', serif;
	display: inline-block;
}

#header_button {
	margin-right: 7.5px;
	right: 0px;
	top: 0px;
	width: 120px;
	height: 60px;
	position: fixed;
}

#header_profile {
	float: left;
	display: inline-block;
	width: 75%;
}